.btn{
    color: white;
}

.rounded{
    height: 80px;
    width: 120px;
}

.btn-outline-success{
    background-color: #ffffff;
    border-color: #aa01ff;
    color: #aa01ff;
}

.d-flex{
   height: 640px;
    background-color: pink;
}